'.source.yaml':
  'editor':
    'commentStart': '# '
'.source.usl':
  'editor':
    'increaseIndentPattern': '^\\s*.*(:|-) ?(&\\w+)?(\\{[^}"\']*|\\([^)"\']*)?$'
    'decreaseIndentPattern': '^\\s+\\}$'
